*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #181818;
    color: #fff;
    padding: 20px;
}
#timebox {
    font-size: 2rem;
    text-align: center;
    margin-top: 20%;
    color: #fff;
}